{% extends 'base.html' %}
{% load static %}


{% block header %}
	<link rel="stylesheet" href="{% static 'landing.css' %}">
	<link rel="stylesheet" href="{% static 'about.css' %}">
	<title>Usman Musa | About</title>
{% endblock header %}


{% block main %}
	<div class="box">
		<h1>About me!</h1>
		<div class="box_in">
			<img src="{% static 'media/usman 2.jpg' %}" alt="">
		</div>
	</div>

	<div class="paragraph">
		<p>I'm <strong>Usman</strong>, an IT enthusiast, abstracting away complexity for developers and <strong>IT</strong> ninjas, in software & web development, and other IT related stuffs. Certified ✅ <strong>3MTT</strong> fellow under <strong>Software Development</strong>.</p>

		<p>Most of my snippets are python base, I also use shell script for automating daily task, in other to make myself <strong>DRY</strong>. Other tech stacks that I use can be found on my LinkedIn profile. You can find my projects on <strong><a href="https://github.com/usmanmusa1920">GitHub</a></strong> & <strong><a href="https://hub.docker.com/u/usmanmusa">Docker</a></strong> repository!, while my articles and post can be access on Medium and Twitter, below are some of my projects, also others can be found on my LinkedIn profile.</p>

		<div class="links">
			<p>
				<a href="https://usmanmusa1920.github.io">Main site</a>
				<a href="https://linkedin.com/in/usmanmusa1920">LinkedIn</a>
				<a href="https://medium.com/@usmanmusa1920">Medium</a>
				<a href="{% url 'auth:direct_message' %}">Direct Message</a>
			</p>
		</div>
	</div>
{% endblock main %}
