{% extends 'base.html' %}
{% load static %}


{% block header %}
	<link rel="stylesheet" href="{% static 'landing.css' %}">
	<link rel="stylesheet" href="{% static 'about.css' %}">
	<title>Usman Musa | About</title>
{% endblock header %}


{% block main %}
	<div class="box">
		<h1>About me!</h1>
		<div class="box_in">
			<img src="{% static 'media/usman 2.jpg' %}" alt="">
		</div>
	</div>

	<div class="paragraph">
		<p>Hi 👋 I'm <strong>Usman!</strong> an IT enthusiast, certified ✅ <strong>3MTT</strong> fellow under <strong>Software Development</strong>. <strong><a href="https://github.com/usmanmusa1920">GitHub</a></strong> <strong><a href="https://hub.docker.com/u/usmanmusa">Docker</a></strong>.</p>

		<div class="links">
			<p>
				<a href="https://usmanmusa1920.github.io">Main site</a>
				<a href="https://linkedin.com/in/usmanmusa1920">LinkedIn</a>
				<a href="https://medium.com/@usmanmusa1920">Medium</a>
				<a href="{% url 'auth:direct_message' %}">Direct Message</a>
			</p>
		</div>
	</div>
{% endblock main %}
