{% extends 'base.html' %}
{% load static %}


{% block header %}
	<link rel="stylesheet" href="{% static 'form.css' %}">
	<title>Usman Musa | change password</title>
{% endblock header %}


{% block top %}
	<div class="box">
		<h1>Change password</h1>
	</div>
  
	<div class="dark">
		<div class="posts">
			<div class="side_left">
				<form method="POST" class="message" id="auth">
					{% csrf_token %}
					<h1>Change your password:</h1>
					<input type="password" name="old_password" placeholder="Old password" required>
					{% if form.old_password.errors %}
						<!-- <p>{{form.old_password.errors}}</p> -->
						<p><i><strong><small>--- Your old password was entered incorrectly. Please enter it again.</small></strong></i></p>
					{% endif %}
					<input type="password" name="new_password1" placeholder="New password" required>
					<input type="password" name="new_password2" placeholder="New password again" required>
					{% if form.new_password2.errors %}
						<!-- <p>{{form.new_password2.errors}}</p> -->
						<p><i><strong><small>--- The two password fields didn’t match.</small></strong></i></p>
					{% endif %}
					<button type="submit">change</button>
				</form>
				<br>
			</div>
		
			<div class="side_right">
				{% include 'include/send_message.html' %}
			</div>
		</div>
	</div>
{% endblock top %}
