{% extends 'base.html' %}
{% load static %}


{% block header %}
	<link rel="stylesheet" href="{% static 'blogs.css' %}">
	<title>Usman Musa | Blogs</title>
{% endblock header %}


{% block top %}
	<div class="banner">
		<div class="banner_column">
			<h1>Usman Musa</h1>
			<br>
			<br>
			<p>Looking forward to IT and software development sector, to work, change and innovate creative digital system together with IT ally.</p>
			<br>
			<br>
			<a href="{% url 'auth:direct_message' %}">Get In Touch</a>
		</div>
	</div>

	<div class="dark">
		<div class="posts">
			<div class="side_left">
				{% if posts.paginator.count > 0 %}
					{% for post in posts %}
						<div class="post">
						<h1><a href="{% url 'blog:post' post.id %}">{{post.title}}</a></h1>
						<img src="{% static 'media/usman 1.jpg' %}" class="banner_column_img" alt="">
						<small>Date created: since {{post.pub_date|date:'M d, Y'}} by <span>{{post.author.first_name}} {{post.author.last_name}}</span></small>
						<br>
						<small><a href="{% url 'blog:article' post.category.id %}" class="ref">@ {{post.category.title}}</a></small>
						<hr>
						<br>

						{% if post.summary %}
							{% if post.summary|length >= 220 %}
								<p>
									{{post.summary|truncatechars:200}} <a href="{% url 'blog:post' post.id %}" class="detail">read more</a>
								</p>
							{% else %}
								<p>{{post.summary}}</p>
							{% endif %}
							<br>
						{% endif %}

						{% if post.image_url %}
							<div class="three_col">
								<div>
									<img src="{{post.image_url}}" alt="">
								</div>
							</div>
						{% endif %}

						{% if post.snippet %}
							<div class="c_div">
								<pre><small><code>{{post.snippet}}</code></small></pre>
							</div>
							<br>
						{% endif %}

						{% if post.comment_set.count > 1 %}
							<small><a class="ref">{{post.comment_set.count}} comments</a></small>
						{% else %}
							<!-- pass -->
						{% endif %}
						</div>
					{% endfor %}
				{% else %}
					<div class="post">
						<h1 class="s">No post for yet, the site is empty</h1>
					</div>
				{% endif %}

				{% if posts.paginator.count > 5 %}
					<div class="paginator">
						{% if posts.has_previous %}
							<a href="?page={{posts.previous_page_number}}" class="page_surf"><h3>Previous</h3></a>
							<a>...</a>
						{% endif %}
						{% for num in posts.paginator.page_range %}
							{% if posts.number == num %}
								<a href="?page={{num}}" class="page_current"><h3>{{num}}</h3></a>
							{% elif num > posts.number|add:'-4' and num < posts.number|add:'4' %}
								<a href="?page={{num}}" class="page_number"><h3>{{num}}</h3></a>
							{% endif %}
						{% endfor %}
						{% if posts.has_next %}
							<a>...</a>
							<a href="?page={{posts.next_page_number}}" class="page_surf"><h3>Next</h3></a>
						{% endif %}
					</div>
				{% endif %}
			</div>
			
			<div class="side_right">
				{% include 'include/suggestion.html' %}
				{% include 'include/send_message.html' %}
			</div>
		</div>
	</div>
{% endblock top %}
