{% extends 'base.html' %}
{% load static %}


{% block header %}
  <link rel="stylesheet" href="{% static 'form.css' %}">
  <title>Usman Musa | logout</title>
{% endblock header %}


{% block top %}
  <div class="box">
    <h1>Logout</h1>
  </div>
  
  <div class="dark">
    <div class="posts">
      <div class="side_left">
        <form class="message" id="auth">
          <h1>You logout:</h1>
          <p>Hey user you just logged out, you can also login back or navigate to the website without login in back</p>
          <br>
          
          <a href="{% url 'auth:login' %}" class="peace_back">Login back</a>
          <br>
          <br>
        </form>
        <br>
      </div>

      <div class="side_right">
        <form method="post" action="{% url 'message:send' %}" class="message">
          {% csrf_token %}
          <h1>Send your message:</h1>
          <input type="text" name="full_name" placeholder="Your full name" required>
          <input type="email" name="email" placeholder="Your email address" required>
          <textarea name="text_body" placeholder="Type your message here ..." required></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
{% endblock top %}