*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--dark: rgb(50, 50, 63);
}

/* for fire-fox browser */
@-moz-document url-prefix(){
	/* fire-fox don't recognise br tag, so we add margin to all br tag */
	br{
		margin-top: 5px;
	}
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
	outline: 0;
	/* font-size: 100%; */
	vertical-align: baseline;
	background: transparent;
	font-family: 'Times New Roman', Times, serif;
}

body{
	background: var(--dark);
	color: white;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 15px;
	/* font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans", Times 'Segoe UI', Tahoma, Verdana, sans-serif, serif,Verdana,Arial,sans-serif; */
}

@media only screen and (max-width: 700px){
	center hr{
		width: 90%;
	}
}

.black{
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

.container{
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.header{
	top: 0;
	width: 100%;
	height: 11.5vh;
	position: fixed;
	background: var(--dark);
	border-bottom: solid black 1px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_col{
	width: 90%;
	padding: 20px 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width: 700px){
	.header_col{
		padding: 18px 5px;
	}
}

.head_left{
	width: 45%;
	height: 100%;
}

@media only screen and (max-width: 700px){
	.logo{
		font-size: 20px;
	}
}

.logo a{
	color: white;
	text-decoration: none;
	width: fit-content;
}

.head_right{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.head_right a{
	color: white;
	margin-left: 15px;
	font-size: 18px;
	text-decoration: none;
	cursor: pointer;
}

.head_right a:hover{
	text-decoration: underline solid 3px;
}

@media only screen and (max-width: 700px){
	.link_0, .link_1, .link_2, .link_3{
		display: none;
	}
}

.head_right a img{
	width: 40px;
	height: 40px;
	margin-left: 15px;
}

.head_right .light{
	display: block;
	position: relative;
	text-decoration: none;
}

.head_right .dark{
	display: none;
	text-decoration: none;
	color: black;
}

.head_right .dark:hover, .head_right .light:hover{
	text-decoration: none;
}

.main{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 12vh;
}

.main_column{
	width: 90%;
	padding: 10px 70px;
}

@media only screen and (max-width: 700px){
	.main_column{
		width: 100%;
		padding: 0;
	}
}

.mini{
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_column_inn{
	background: url('./media/laptop.jpeg') no-repeat center center/cover;
	display: flex;
}

.mini_column{
	width: 80%;
	max-width: 1024px;
	height: 45vh;
	border-radius: 7px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

@media only screen and (max-width: 700px){
	.mini_column{
		max-width: 100%;
		width: 90%;
		height: 60vh;
		padding: 0;
	}
}

.mini_column h1{
	font-size: 4rem;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
	color: black;
}

.mini_column p{
	max-width: 80%;
	text-align: center;
	font-weight: lighter;
	font-size: 1rem;
	color: black;
}

@media only screen and (max-width: 700px){
	.mini_column h1{
		font-size: 2.5rem;
	}
}

.box{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box h1{
	font-size: 2.5rem;
	font-weight: lighter;
	margin-top: 15px;
	text-align: center;
	padding: 0 30px;
}

@media only screen and (max-width: 700px){
	.box h1{
		font-size: 1.5rem;
	}
}

.box_in{
	width: 50vw;
	height: 60vh;
	border: solid lightgrey 1px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	padding: 5px;
}

@media only screen and (max-width: 700px){
	.box_in{
		width: 90vw;
		height: fit-content;
	}
}

.box_in img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

@media only screen and (max-width: 700px){
	.box_in img{
		width: 190px;
		height: 190px;
		border-radius: 50%;
	}
}

.box_in p{
	max-width: 80%;
	text-align: center;
	font-weight: lighter;
	font-size: 1rem;
}

.fdk{
	max-width: 80%;
	text-align: center;
	font-weight: lighter;
	font-size: 1rem;
	color: black;
	display: none;
	border-radius: 3px;
	background: lightgrey;
	padding-left: 5px;
	padding-right: 5px;
}

.three_col{
	margin: 20px 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

@media only screen and (max-width: 700px){
	.three_col{
		margin: 10px 0;
		flex-direction: column;
		align-items: space-evenly;
	}
}

.three_col div{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	min-width: 50%;
}

.three_col div h1{
	color: black;
}

.three_col div p{
	max-width: 50%;
	font-size: 1.1rem;
	line-height: 35px;
	text-align: center;
}

@media only screen and (max-width: 700px){
	.three_col div p{
		max-width: 90%;
		font-size: 1rem;
		line-height: 25px;
		margin-top: 5px;
	}
}

.code_div{
	margin: 20px 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

@media only screen and (max-width: 700px){
	.code_div{
		margin: 10px 0;
		flex-direction: column;
		align-items: space-evenly;
	}
}

.code_div font{
	font-family: sans-serif;
}

/* Styling for the copy button */
.copy-button{
	background-color: #464646;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
	margin: 5px 0;
}

.code_div div{
	color: lightgray;
	max-width: 70%;
	min-width: 50%;
	max-height: 50vh;
	display: flex;
	padding: 10px;
	margin: 5px 0 3px 0;
	background-color: black;
	overflow: auto;
}

@media only screen and (max-width: 700px){
	.code_div div{
		max-width: 90%;
		min-width: 70%;
	}
}

.social_icons{
	display: flex;
}

.social_icons a{
	margin: 5px;
	text-decoration: none;
}

.short_intro{
	display: flex;
	padding: 0 50px;
	margin: 70px 0;
}

@media only screen and (max-width: 700px){
	.short_intro{
		flex-direction: column;
		align-items: center;
		margin: 30px 0;
	}
}

.short_intro img{
	width: 20vw;
	height: auto;
	border-radius: 10px;
}

@media only screen and (max-width: 700px){
	.short_intro img{
		width: 90vw;
	}
}

.short_intro div{
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
}

@media only screen and (max-width: 700px){
	.short_intro div{
		width: 100vw;
		padding: 0 30px;
	}
}

.short_intro div p{
	text-align: center;
	font-size: 2rem;
	font-weight: lighter;
}

@media only screen and (max-width: 700px){
	.short_intro div p{
		font-size: 1.2rem;
	}
}

.short_intro div h1{
	text-align: center;
	font-size: 2rem;
	font-weight: lighter;
}

.short_intro div a{
	background: black;
	color: white;
	padding: 10px 20px;
	margin-top: 10px;
}

@media only screen and (max-width: 700px){
	.short_intro div a{
		margin-bottom: 10px;
	}
}

.links{
	margin: 70px 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

@media only screen and (max-width: 700px){
	.links{
		margin: 20px 0;
		flex-direction: column;
		align-items: center;
	}
}

.links a{
	background-color: black;
	color: white;
	padding: 20px;
	text-decoration: none;
	text-align: center;
}

@media only screen and (max-width: 700px){
	.links a{
		width: 50vw;
		margin: 5px 0;
	}
}
