{% extends 'base.html' %}
{% load static %}
{% block header %}

  <link rel="stylesheet" href="{% static 'landing.css' %}">
  <link rel="stylesheet" href="{% static 'about.css' %}">
  <title>Usman Musa | About</title>
{% endblock header %}


{% block main %}
  <div class="box">
    <h1>About me!</h1>
    <div class="box_in">
      <img src="/static/media/me_2.jpg" alt="">
    </div>
  </div>

  <div class="paragraph">
    <p>I am <strong>Usman Musa</strong> a software engineer from Nigeria 🇳🇬. Having a passion of abstracting away complexity for developers that is awesome, software deployment, web development, and other IT related stuffs.</p>

    <p>I mostly code using python programming language, using shell script for automating daily task, e.g activating virtual environment, and other annoying (boring) reputation daily task while coding, in other to make it <strong>DRY</strong>. You can get to me via email <strong><a href="mailto:usmanmusa1920@gmail.com">usmanmusa1920@gmail.com</a></strong>, or the following links:
      <strong><a href="https://github.com/usmanmusa1920">Github</a></strong>
      <strong><a href="https://hub.docker.com/u/usmanmusa">Dockerhub</a></strong>
      <strong><a href="https://linkedin.com/in/usmanmusa1920">LinkedIn</a></strong>
      <strong><a href="https://facebook.com/usmanmu1920">Facebook</a></strong>, or send me message directly from my website (this), using the message form provided.
    </p>
    
    <h3>Tech stack</h3>
    <p>
      <b>html</b>, <b>css</b>, <b>javascript</b>, <b>django</b>, <b>sql</b>, <b>python</b>, <b>docker</b>, <b>git</b>, <b>github</b>, <b>linux OS</b>, <b>bash script</b>, and other technologies.
    </p>
    
    <h3>Education</h3>
    <p>
      I'm currently studying in a university, called `federal university, gusau` <strong>(FUG)</strong> Zamfara state Nigeria. My major/course of study is <strong>B.Sc Physics</strong>. <strong><a href="https://www.fugusau.edu.ng/">FUGUS</a></strong> site
      <br>
      <br>
      
      <b>Major/course of study:</b>
      <br>
      B.Sc Physics, 200 level
      <br>
      <b>Duration:</b>
      <br>
      2021 - date
    </p>

    <h3>Projects</h3>
    <p>Here are some precious projects of mine, you can find out more on my github repo <strong><a href="https://github.com/usmanmusa1920">GitHub</a></strong> as well as my docker hub repository <strong><a href="https://hub.docker.com/u/usmanmusa">Dockerhub</a></strong></p>

    <p>
      <b>DiPense</b>
      <br>
      DiPense is a project that I developed (an OSINT framework for hackers), that will definately help cybersecurity / hackers to gather information about their victim they want to track using phone number, or ip address. To be honest the software is free to use, but your intent matter, use it for fun. The project link is <strong><a href="https://dipense.usmanmusa.tk">dipense</a></strong>
    </p>

    <p>
      <b>King choice aluminum</b>
      <br>
      A company website, where I am incharge of building their entire website, in which they use for advertising their product and getting feedback from customers.
    </p>

    <div class="links">
      <p>
        <a href="https://github.com/usmanmusa1920">Github</a>
        <a href="https://linkedin.com/in/usmanmusa1920">Linkedin</a>
        <a href="https://drive.google.com/file/d/16ovVlyWCq5M-leEi3VYPS2pfVCQRW0HH/view?usp=sharing">Résumé</a>
        <a href="https://facebook.com/usmanmu1920">Facebook</a>
        <a href="https://hub.docker.com/u/usmanmusa">Duckerhub</a>
      </p>
    </div>
  </div>
{% endblock main %}